.progress {
    border: 1px solid black;
    border-radius: $border-radius;
    height: 25px;  
    margin-bottom: 20px;  
    padding: 5px;

    &--big {
        height: 50px;
    }
    
    &--color-orangered{
        border-color:orangered;
    }
    
    &__bar {
        height: 100%;
        background-color: black;
    }
    
    &--color-orangered .progress__bar{
        background-color: orangered;
    }
}

